<div class="navbar navbar-fixed-top navbar-primary">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <div class="pull-right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="pull-left">
          <a class="navbar-brand hidden-xs a-white">OnlineShop</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="" *ngIf="!_authService.isAuthenticated" [routerLink]="['login']">Login</a></li>
            <li><a class="" *ngIf="!_authService.isAuthenticated" [routerLink]="['register']">Register</a></li>
            <li><a class="" *ngIf="_authService.isAuthenticated" [routerLink]="['items']">Items</a></li>
            <li><a class="" *ngIf="_authService.isAuthenticated" [routerLink]="['cart']">Cart</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="pull-right">
          <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav navbar-right">
              <li><a class="" *ngIf="_authService.isAuthenticated" (click)="logout()">Logout</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="router-container d-flex justify-content-center">
  <router-outlet></router-outlet>
</div>